<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Message Page</title>
</head>
<body>
  <%- include('../header') %>
  <h2>Welcome to the Secret Clubhouse</h2>
  <h3>Only the chosen may pass beyond this point. Will you dare to enter?</h3>
  <div class="links-container">
    <a href="/login" class="button">Login</a>
    <a href="/signup" class="button">Sign Up</a>
  </div>

</body>
</html>