@import url('homepage.css');
@import url('header.css');
@import url('form.css');
@import url('messagesPage.css');
@import url('message.css');

body, html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0 25px;
}

body {
  background-color: #1b1b1b;  
  color: #e0e0e0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-height: 100vh; */
}

