<div class="message-item">
  <strong class="message-title"><%= message.title %></strong>
  <div class="message-content"><%= message.content %></div>
  <div class="message-user">User: <%= message.username %></div>
  <div class="message-date">Date: <%= message.created_at %></div>
</div>
