<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Message Page</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <%- include('../header') %>
  <div class="nav-bar">
    <form action="/logout" method="POST">
      <button class="messages-nav" type="submit">Log Out</button>
    </form>
    <a class="messages-nav" href="/messages/new" class="new-nav">New Message</a>
  </div>
  
  <div class="messages-container">
    <% messages.forEach(function(message) { %>
      <%- include('message', { message: message }) %>
    <% }) %>
  </div>
</body>
</html>