<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Message Page</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <%- include('../header') %>
  <p>This is your message page.</p>
  <div class="messages-container">
    <% messages.forEach(function(message) { %>
      <%- include('message', { message: message }) %>
    <% }) %>
  </div>
  <form action="/logout" method="POST" style="display: inline;">
    <button type="submit">Log Out</button>
  </form>
  <a href="/messages/new" class="new-nav">New Message</a>
</body>
</html>